/* reset */
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;font-family: "Hiragino Sans GB";}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{font:12px/1.14 "Microsoft YaHei";color:#333;outline:0;}
body{background:#fff;}
a,a:hover{color:#333;}


/* function */
.f-cb:after,.f-cbli li:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}
.f-cb,.f-cbli li{zoom:1;}
.f-ib{display:inline-block;*display:inline;*zoom:1;}
.f-dn{display:none;}
.f-db{display:block;}
.f-fl{float:left;}
.f-fr{float:right;}
.f-pr{position:relative;}
.f-prz{position:relative;zoom:1;}
.f-oh{overflow:hidden;}
.f-ff0{font-family:arial,\5b8b\4f53;}
.f-ff1{font-family:"Microsoft YaHei",\5fae\8f6f\96c5\9ed1,arial,\5b8b\4f53;}
.f-fs1{font-size:12px;}
.f-fs2{font-size:14px;}
.f-fwn{font-weight:normal;}
.f-fwb{font-weight:bold;}
.f-tal{text-align:left;}
.f-tac{text-align:center;}
.f-tar{text-align:right;}
.f-taj{text-align:justify;text-justify:inter-ideograph;}
.f-vam,.f-vama *{vertical-align:middle;}
.f-wsn{word-wrap:normal;white-space:nowrap;}
.f-pre{overflow:hidden;text-align:left;white-space:pre-wrap;word-wrap:break-word;word-break:break-all;}
.f-wwb{white-space:normal;word-wrap:break-word;word-break:break-all;}
.f-ti{overflow:hidden;text-indent:-30000px;}
.f-ti2{text-indent:2em;}
.f-lhn{line-height:normal;}
.f-tdu,.f-tduh:hover{text-decoration:underline;}
.f-tdn,.f-tdnh:hover{text-decoration:none;}
.f-toe{overflow:hidden;word-wrap:normal;white-space:nowrap;text-overflow:ellipsis;}
.f-csp{cursor:pointer;}
.f-csd{cursor:default;}
.f-csh{cursor:help;}
.f-csm{cursor:move;}
.f-usn{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}


/* 不再提醒 */
.g-hd .g-tips{width: 100%;height: 36px;background-color: #f3f3f3;}
.g-hd .g-tips .m-tips{width: 1203px;line-height: 36px;margin: 0 auto;}
.g-hd .g-tips .m-tips .lefttips a {color: #21a557;}
.g-hd .g-tips .m-tips .righttips .u-btn{padding-left: 15px;background: url(../images/icon.png) 0 4px no-repeat;}
.g-hd .g-tips .m-tips .righttips .u-btn:hover{color: #21a557;text-decoration: underline;}

/* 头部导航 */
.g-hd .g-topnav{width: 100%;height: 89px;}
.g-hd .g-topnav .m-topnav{width: 1203px;margin: 0 auto;padding: 31px 0 37px 0;}
.g-hd .g-topnav .m-topnav h1{padding-left: 84px;line-height: 22px; font-size: 22px;background: url(../images/btn.png) -214px 2px no-repeat;}
.g-hd .g-topnav .m-topnav .unfollow{margin-left: 31px;padding-left: 20px;width: 54px;height: 21px;border: none;border-radius: 1px; color: #fff;background: url(../images/usrAttButton.png) 0 0 no-repeat;}
.g-hd .g-topnav .m-topnav .followed{margin-left: 31px;padding-left: 20px;width: 106px;height: 21px;box-sizing: border-box; background: url(../images/usrAttButton.png) -180px 0 no-repeat;}
.g-hd .g-topnav .m-topnav .followed:hover{background: url(../images/usrAttButton.png) -64px 0 no-repeat;}
.g-hd .g-topnav .m-topnav .followed #usr{margin-left: 18px;}
.g-hd .g-topnav .m-topnav .followed #usr:hover{text-decoration: underline;color: #21a557; }
.g-hd .g-topnav .m-topnav div{margin-left: 14px;line-height: 21px;}
.g-hd .g-topnav .m-topnav .search{margin: 0 12px 0 30px;width: 18px;height: 18px;background: url(../images/icon.png) 0 -80px no-repeat;}
.g-hd .g-topnav .m-topnav .search:hover{background: url(../images/icon.png) 0 -114px no-repeat;}
.g-hd .g-topnav .m-topnav ul li a{line-height: 20px;color: #666666; font-size: 16px;}
.g-hd .g-topnav .m-topnav ul li a:hover{color: #39a030;}
.g-hd .g-topnav .m-topnav ul .li1,.g-hd .g-topnav .m-topnav ul .li2{margin-right: 38px;}

/* 轮播头图 */
.g-sld{width: 100%;height: 460px;}
.g-sld .m-sld{height: 460px;width: 100%;min-width: 1202px;max-width: 1652px;margin: 0 auto;}
.g-sld .m-sld .imgwrap{height: 460px;width: 100%;}
.g-sld .m-sld .banner{display: none; top: 50%;left: 50%;position: absolute;transform:translate(-50%,-50%);}
.g-sld .m-sld #imgon{display: block;}
.g-sld .m-sld .control{margin-top: -30px;height: 10px;width: 100%;text-align: center;cursor: default;}
.g-sld .m-sld .circlewrap{display: inline;width: 52px;}
.g-sld .m-sld .control .circlewrap li{display: inline-block;height: 10px;width: 10px;margin-right: 11px;border-radius: 50%;background-color: #fff;cursor: pointer;}
.g-sld .m-sld .control .circlewrap li:last-child{margin-right: 0;}
.g-sld .m-sld .control #on{background-color: #333;}

/* 三个产品 */
.g-menu{width: 100%;height: 300px;}
.g-menu .m-menu{width: 1190px;height: 100%;margin: 0 auto;}
.g-menu .m-menu div{margin-top: 60px;width: 340px}
.g-menu .m-menu .left,.g-menu .m-menu .center{margin-right: 80px}
.g-menu .m-menu div .logo{width: 80px;margin-top: 8px;margin-right: 20px;height: 235px;}
.g-menu .m-menu .left .logo{background: url(../images/btn.png) 0 -85px no-repeat;}
.g-menu .m-menu .center .logo{background: url(../images/btn.png) -103px -85px no-repeat;}
.g-menu .m-menu .right .logo{background: url(../images/btn.png) -205px -85px no-repeat;}
.g-menu .m-menu div h2{font-size: 22px;}
.g-menu .m-menu div p{margin-top: 20px;margin-bottom: 35px;font-size: 14px;color: #666666;}
.g-menu .m-menu div a{color: #39a030;font-size: 14px}

/* 图片展示 */
.g-img{display: flex;flex-wrap: nowrap;justify-content: center;}

/* 两栏布局 */
.g-col {width: 100%;background-color: #f8f8f8;}
.g-col .g-box{width: 1208px; margin: 0 auto;padding-bottom: 120px;}
.g-col .g-box .g-main{width: 980px;margin-top: 80px;}
.g-col .g-box .g-main .u-tab{width: 400px;height: 50px;margin-bottom: 30px;}
.g-col .g-box .g-main .u-tab ul li{width: 200px;height: 50px;text-align: center;line-height: 50px; font-size: 20px;background-color:#fff;cursor: pointer;}
.g-col .g-box .g-main .u-list{height: 1230px}
.g-col .g-box .g-main .u-list ul li{float: left;width: 225px;height: 230px;margin: 20px 20px 0 0;background-color: #fff;}
.g-col .g-box .g-main .u-pages{margin: 30px 20px 0 0;}
.g-col .g-box .g-main .u-pages ul li{float: left;width: 30px;height: 20px; line-height: 20px;font-size: 14px;text-align: center;cursor: pointer;overflow: hidden;}
.g-col .g-box .g-side{width: 225px;margin-top: 85px;}
.g-col .g-box .g-side .m-video{width: 100%;height: 230px;background-color: white;}
.g-col .g-box .g-side .m-hotlist{width: 100%;height: 780px;margin-top: 20px;background-color: white;}

.g-main .u-list ul li div{width: 100%;height: 125px;overflow: hidden;}
.g-main .u-list .middlePhotoUrl{width: 100%;height: 100%;}
.g-main .u-list .name{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;margin-top: 10px;margin-left: 5px; color: #333333;}
.g-main .u-list .provider{margin-top: 10px;margin-left: 5px; color: #999999;}
.g-main .u-list .learnerCount{box-sizing: border-box; padding-left: 15px; margin-top: 10px;margin-left: 5px;width: 40px;height: 18px;border: 1px solid;border-radius: 3px;border-color: #dddddd;color: #999999;background: url(../images/icon.png) 3px -21px no-repeat;}
.g-main .u-list .price{display: block; margin-top: 8px;margin-left: 5px; color: #ff3f00;}



.g-side .m-video h2,.m-hotlist h2{width: 100%;height: 56px;font-size: 22px;line-height: 56px;border-bottom: 1px solid #dddddd;box-sizing: border-box; padding-left: 22px;}
.g-side .m-video div p{margin-top: 22px;margin-left: 22px;font-size: 14px;color: #666666;}
.g-side .m-video div video{margin-top: 10px;margin-left: 22px;}

.m-hotlist  div ul li{margin-top: 20px;margin-left: 20px;}
.m-hotlist  div ul li div{float: left; width: 50px;height: 50px;overflow: hidden;}
.m-hotlist .smallPhotoUrl{width: 100%;height: 100%;}
.m-hotlist .hotname{  padding-left: 14px; overflow: hidden;text-overflow: ellipsis;white-space: nowrap;font-size: 14px;color: #333333;}
.m-hotlist .hotlearnerCount{margin-left: 12px; margin-top: 12px; display: inline-block; box-sizing: border-box;padding-left: 15px;background: url(../images/icon.png) 3px -23px no-repeat;}
/* 底部 */
.g-ft{width: 100%;height: 260px;background-color: #2c3339;}
.g-ft .m-ft{width: 950px;height: 100%;margin: 0 auto;}
.g-ft .m-ft .cprt{margin-top: 90px;width: 400px;}
.g-ft .m-ft .cprt h1{padding-left: 84px;line-height: 22px; font-size: 22px;background: url(../images/btn.png) -214px 2px no-repeat;color: #39a030;}
.g-ft .m-ft .cprt p{margin-top: 28px;line-height: 25px;font-size: 12.5px;color: #a2a4a5;}
.g-ft .m-ft .flink{margin: 80px 0 auto 140px;width:115px;}
.g-ft .m-ft .aboutus{margin:80px 0 auto 80px;width: 65px;}
.g-ft .m-ft .more{margin: 80px auto auto 70px;}
.g-ft .m-ft div ul span{font-size: 12.5px;color: #a2a4a5;}
.g-ft .m-ft div ul li{margin-top: 15px;}
.g-ft .m-ft div ul li a{font-size: 14.5px;color: #a2a4a5;}
.g-ft .m-ft div ul li a:hover{text-decoration: underline;}
.g-ft .m-ft .aboutus ul li .follow{background: url(../images/icon.png) 40px -50px no-repeat;padding-right: 33px;}

/* 登录弹窗 */
.g-login{position:fixed;left: 0;right: 0;top: 0;bottom: 0;background-color: rgba(50,50,50,0.8);}
.g-login .m-login{position: absolute;left: 50%;top: 50%;transform:translate(-50%,-50%);width: 387px;height: 288px;background-color: #fff;}
.g-login .m-login .u-close{position: absolute; top: 10px;right: 8px;width: 11px;height: 10px;background: url(../images/icon.png) 0 -172px no-repeat;cursor: pointer;}
.g-login .m-login .m-logform{padding-top: 30px;padding-left: 40px;}
.g-login .m-login .m-logform legend{font:18px/28px 'Microsoft YaHei';color:#444;}
.g-login .m-login .m-logform .u-txt{width: 293px;height: 43px;padding-left: 2px;font:16px/45px 'Microsoft YaHei';color:#333;background-color: #fafafa;border: 1px solid #dfdfdf;box-shadow: inset 2px 2px #f1f1f1;}
.g-login .m-login .m-logform .unwrap{margin-top: 20px;margin-bottom: 15px;}
.g-login .m-login .m-logform .pwwrap{margin-bottom: 29px;}
.g-login .m-login .loginBtn{margin-left: 40px; width: 295px;height: 48px;border: 0;font:16px/48px 'Microsoft YaHei';color:#fff;background: url(../images/btn.png) 6px -30px no-repeat;}
#message{margin-left: 10px;color: red;}

/* 视频弹窗 */
.g-player{position:fixed;left: 0;right: 0;top: 0;bottom: 0;background-color: rgba(50,50,50,0.8);}
.g-player .m-player{position: absolute;left: 50%;top: 50%;transform:translate(-50%,-50%);width: 920px;height: 647px;background-color: #fff;}
.g-player .m-player h1{margin-left: 20px;margin-top: 20px; font:20px 'Microsoft YaHei';color:#444;}
.g-player .m-player .u-close{position: absolute; top: 13px;right: 12px;width: 11px;height: 11px;background: url(../images/icon.png) 0 -172px no-repeat;cursor: pointer;}
.g-player .m-player .video{position: absolute;left: 50%;transform: translateX(-50%);}
